.container {
  width: 100%;
}

.toggles {
  border: 3px solid gray;
  padding: var(--spacing-s);
  display: flex;
  gap: var(--spacing-m);
}

.layoutToggles {
  display: flex;
  gap: var(--spacing-s);
  flex: 1;
}

.toggleOptions {
  display: flex;
  gap: var(--spacing-s);
}

.toggle {
  position: relative; 
  padding: var(--spacing-xs);
  border: 1px solid var(--color);
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toggle.active {
  background: var(--color);
  color: var(--bg);
}

/* .toggle:hover .count {
  display: flex;
} */

.count {
  display: flex;
  position: absolute;
  top: -8px;
  left: -8px;
  min-width: 16px;
  height: 16px;
  padding: 10px 2px;
  background: var(--color);
  color: var(--bg);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

@media print {
  .container {
    display: none;
  }
}