.container {
  width: 100%;
  border: 3px solid gray;
  padding: var(--spacing-m);
  display: flex;
  gap: var(--spacing-m);
}

.layoutToggles {
  display: flex;
  gap: var(--spacing-s);
}

.toggles {
  display: flex;
  gap: var(--spacing-s);
}

.toggle {
  padding: var(--spacing-xs);
  border: 1px solid var(--color);
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toggle.active {
  background: var(--color);
  color: var(--bg);
}

@media print {
  .container {
    display: none;
  }
}