/* /components/layout/aside.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  width: 60%;
  margin-top: var(--spacing-xxl);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}