.container {
  display: flex;
  gap: 0.5rem;
  margin: var(--spacing-s) 0 0;
  flex-wrap: wrap;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  font-size: 0.9rem;
}

.button:hover {
  transform: scale(1.05);
}
