* {
  /* background-color: var(--color); */
  /* color: var(--bg); */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: background-color 0.9s, color 0.1s, all 1s;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --black: black;
  --hover-color: #c0c0c069;
  --white-b: solid white;
  --black-b: solid black;
  --bg-active: rgba(0, 0, 0, 0.2);
  --border-radius-xs: 0.25rem;
  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 2rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 5rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}