* {
  background-color: var(--bg);
  color: var(--color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: background-color 0.9s, color 0.1s;
  margin: 0;
  padding: 0;
}
:root {
  --black: black;
  --white-b: solid white;
  --black-b: solid black;
  --bg-active: rgba(0, 0, 0, 0.2);
  --border-radius-xs: 0.25rem;
  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 2rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 5rem;
}

html[data-theme='light'] {
  --bg: white; /* Light background */
  --title: black;
  --bg-alt1: #f0f0f0; /* Lighter background */
  --bg-alt2: #e0e0e0; /* Lightest background */
  --border: black; /* Black border in light mode */
  --color: black; /* Black text in light mode */
  --hover-color: #c0c0c069; /* Light hover color */
}

html[data-theme='dark'] {
  --bg: rgb(0, 0, 0); /* Dark background */
  --title: white;
  --bg-alt1: #333; /* Darker background */
  --bg-alt2: #222; /* Darkest background */
  --border: #ccc; /* Lighter border in dark mode */
  --color: #fff; /* White text in dark mode */
  --hover-color: #8f8f8f; /* Dark hover color */
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    padding-right: 1rem;
  }
}
