.container {
  display: flex;
  position: relative;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

@media print {
  .title {
    display: none;
  }
}

.header:hover ~ .controlsContainer,
.hourly:hover ~ .controlsContainer {
  opacity: 1;
  pointer-events: auto;
}

.tables {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15%;
}

@media print {
  .aside {
    min-width: 30%;
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}