.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-s);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-s);
  padding: 0 20%;
}

@media only screen and (max-width: 600px) {
  .main, .header {
    padding: 0;
  }
}