/* page.module.css */

.container {
  display: flex;
  position: relative;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding: 0 20%;
}

.nav {
  display: flex;
  width: 100%;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 30px;
}

.titleC {
  margin-left: calc(13px + 100px + 2px);
}

.title {
  font-size: 1.4rem;
  letter-spacing: -1px;
}

.emoji {
  font-size: 1rem;
}

.tables {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: var(--spacing-xl);
  padding: 1rem;
  border: 2px solid blue;
}

@media print {
  .container {
    padding: 0;
  }
  .aside {
    min-width: 30%;
  }
  .side * {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .sideLeft {
    display: none;
  }
  .titleC {
    margin-left: 0;
  }
  .aside {
    padding: 0;
  }
}
