.container {
  display: flex;
  gap: var(--spacing-xs);
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs);
  font-size: 0.65rem;
  letter-spacing: -1px;
  min-width: 120px;
}

.completed {
  color: black;
}

.incomplete {
  color: black;
  opacity: 0.5;
}