.container {
  display: flex;
  gap: var(--spacing-xs);
  overflow-x: scroll;
  scrollbar-width: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs);
  font-size: 0.8rem;
}

.completed {
  color: var(--color-success);
}

.incomplete {
  color: var(--color-warning);
}

.line {
  height: 2px;
  width: 100%;
  margin-top: var(--spacing-s);
}
