/* hours.module.css */

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1 1 55%;
  border: 3px sollid green;
}

.titleC {
  max-height: 2rem;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.container:hover .modal {
  opacity: 1;
  pointer-events: auto;
}

.hourly {
  display: flex;
  flex-direction: column;
  width: 100%;
}
