/* hour.module.css */

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
}

.item {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #85858542;
  border-radius: var(--border-radius-s);
  width: 100%;
  height: 2.5rem;
  padding: 0 var(--spacing-xs);
}

.pan {
  display: flex;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  height: 100%;
}

.altBackground1 {
  background-color: var(--bg-alt1);
}

.altBackground2 {
  background-color: var(--bg-alt2);
}

.currentHour {
  border-color: #858585d9;
  border-style: none none solid none;
}

.boldHour {
  font-weight: bold;
}
