/* hour.module.css */

.container {
  display: flex;
  border-bottom: 2px solid #85858542;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.hour {
  display: flex;
  justify-content: center;
  min-width: var(--spacing-l);
}

.pan {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  height: 100%;
}

.frame:first-child,
.frame:last-child {
  border-bottom: none;
}

.altBackground1 {
  background-color: var(--bg-alt1);
}

.altBackground2 {
  background-color: var(--bg-alt2);
}

.currentHour {
  border: 5px solid var(--title);
  border-style: none none none solid;
}

.boldHour {
  font-weight: bold;
}
