/* hours.module.css */

.container {
  position: relative;
  width: 100%;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.container:hover .modal {
  opacity: 1;
  pointer-events: auto;
}

.hourly {
  display: flex;
  flex-direction: column;
  width: 100%;
}
