.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.th,
.td {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: top;
}

.th {
  background-color: #f2f2f2;
}

.td {
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.td:hover {
  background-color: #f1f1f1;
}

.tr:nth-child(even) {
  background-color: #f9f9f9;
}

.today {
  background-color: #e0f7fa;
  font-weight: bold;
}

.selected {
  background-color: #ffecb3;
}

.outside {
  color: #999;
  background-color: #fdfdfd;
}

.itemPreview {
  font-size: 0.7em;
  color: #007aff;
  padding-left: 0.2rem
}

.itemPreviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .cellWrapper {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
