.container {
  border: none;
  display: flex;
  align-items: center;
  user-select: none;
}

.confirmation {
  display: flex;
  gap: var(--spacing-xs);
}

.button {
  border: none;
}

.confirmButton:hover, .cancelButton:hover {
  text-decoration: underline;
}