/* item.module.css */

.item {
  display: flex;
  align-items: center;
  background-color: var(--note-bg);
  border-radius: var(--border-r);
  margin-bottom: var(--spacing-xs);
  transition: background-color 0.3s ease;
  border: 2px solid var(--black-b);
}

.itemContent {
  display: flex;
  align-items: center;
}

.completed .text {
  text-decoration: line-through;
  color: gray;
  filter: blur(1px);
  opacity: 0.2;
}

.text {
  flex: 1;
  cursor: pointer;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
  opacity: 0;
}

.tagButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 5px;
}

.item:hover .deleteButton {
  opacity: 1;
}

.input {
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  border: none;
  background: transparent;
  outline: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tag {
  background-color: #eee;
  border-radius: 3px;
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 0.9em;
}