/* item.module.css */

.item {
  display: flex;
  align-items: center;
  background-color: var(--note-bg);
  margin-bottom: var(--spacing-xs);
  transition: all 0.3s ease;
  padding: 0 var(--spacing-xs);
}

.item *:hover {
  text-decoration: underline;
}

.completed .text {
  text-decoration: line-through;
  color: gray;
  filter: blur(1px);
  opacity: 0.2;
}

.text {
  flex: 1;
  cursor: pointer;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
  opacity: 0;
}

.item:hover .deleteButton {
  opacity: 1;
}

.input {
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  border: none;
  background: transparent;
  outline: none;
}
