.container {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  border-radius: var(--border-r);
  flex: 1;
  gap: var(--spacing-xs); 
  padding: 0 var(--spacing-xs)
}

.first {
  display: flex;
  align-items: center;
  background-color: inherit;

}

.paginationButton {
  opacity: 0.2;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color);
  font-size: 0.8rem;
  text-shadow: var(--color) 0 0 1px;
}

.title {
  font-weight: 400;
  letter-spacing: -1px;
  padding: var(--spacing-xs) 0;
  background-color: transparent;
  color: var(--color);
  margin: 0;
  font-size: 1.5em;
}