/* title.module.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-m);
  background-color: var(--title);
  border: 2px solid var(--black-b);
  border-radius: var(--border-r);
  margin-bottom: 10px;
  width: 100%;
}

.title {
  padding: var(--spacing-xs);
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  background-color: transparent;
  color: var(--bg);
}

.count {
  background-color: transparent;
  color: var(--bg);
}

@media print {
  .title {
    color: var(--hover-color);
  }
}