.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid green;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing-xs);
}