.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.itemContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs);
  border-radius: var(--spacing-s);
  cursor: pointer;
  transition: background-color 0.1s;
}

.item:hover {
  background-color: var(--hover-color);
}

.categoryContainer {
  display: flex;
  gap: var(--spacing-xs);
}

.categoryButton {
  padding: var(--spacing-xs);
  border-radius: var(--spacing-xs);
  cursor: pointer;
  font-size: 0.8rem;
}

.input {
  display: inline-block;
  padding: var(--spacing-xs) 0;
  border-top: none;
  border-left: none;
  border-right: none;
  width: fit-content;
  min-width: 50px;
  white-space: nowrap;
}

.categoryFloating {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 2px 5px;
  font-size: 0.6rem;
  background-color: white;
  cursor: pointer;
  border-radius: var(--spacing-xs);
}

@media screen and (max-width: 768px) {
  .input {
    width: 100%;
  }
}

.subEntryContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
.subEntry {
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: var(--spacing-xs);
}
.subEntryInput input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.9rem;
}
