.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.itemContent{
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.item {
  padding: var(--spacing-xs);
  border-radius: var(--spacing-s);
  border: 3px solid black;
  cursor: pointer;
  transition: background-color 0.1s;
}

.item:hover {
  background-color: var(--hover-color);
}

.input {
  padding: var(--spacing-xs);
  border-top: none;
  border-left: none;
  border-right: none;
}

@media screen and (max-width: 768px) {
  .input {
    width: 100%;
  }
}