.customSelect {
  position: relative;
  width: 100px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.selectTrigger {
  padding: 8px;
  background: #fff;
  font-weight: 500;
}

.selectTrigger.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.optionsWrapper {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  z-index: 10;
  overflow: hidden;
  border: 1px solid #ccc;
}

.optionsContainer {
  height: 100%;
  overflow-y: auto;
  padding-right: 30px;
}

.option {
  padding: 4px;
  text-align: right;
  transition: background 0.2s;
}

.option:hover {
  background: rgba(200, 200, 200, 0.3);
}

.selectedOption {
  font-weight: bold;
}

.fixedUnit {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  pointer-events: none;
}

.optionsWrapper::before,
.optionsWrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
}

.optionsWrapper::before {
  top: 0;
  background: linear-gradient(to bottom, #fff, transparent);
}

.optionsWrapper::after {
  bottom: 0;
  background: linear-gradient(to top, #fff, transparent);
}

.lastDetailsContainer {
  display: flex;
  flex-direction: row;
}
