.detailsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
}

.setContainer, .inputContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
}

 .buttonContainer button {
  padding: var(--spacing-xs);
 }

.unit {
  opacity: 0.5;
  font-size: 0.8rem;
}