.statusContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsiveImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.placeholder {
  width: 100%;
  background-color: #ccc;
  aspect-ratio: 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 1rem;
}
