.container {
  display: flex;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
}

.button {
  cursor: pointer;
  text-decoration: none;
  transition: 0.001s;
}

.button:hover {
  text-decoration: underline;
}

.active, .default {
  font-weight: bold;
}

.default, .button {
  font-size: 1.01rem;
}