.container {
  display: flex;
  border: 1px solid black;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
}

.button {
  cursor: pointer;
  text-decoration: none;
  transition: 0.001s;
}

.button:hover {
  text-decoration: underline;
}

.active, .default {
  font-weight: bold;
}
