.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  user-select: none;
  width: 20%;
}

.weekdays {
  display: flex;
  align-items: center;
  background-color: var(--black);
  border-radius: var(--border-r);
  height: 50px;
  width: 100%;
  max-height: 60%;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35em;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.weekdays:hover .arrow {
  border: 1px solid #ccc;
  opacity: 1;
}

.dateC {
  display: flex;
  justify-content: center;
}

.date {
  margin: 0;
  padding: 0;
  font-size: 1.35em;
}

@media screen and (max-width: 768px) {
  .weekday, .date {
    font-size: 1.2em;
  }
  .arrow {
    display: flex;
    opacity: 0.2;
  }
}