.container {
  display: flex;
  justify-content: flex-end;
  max-width: 20%;
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.button {
  border-radius: 50%;
  visibility: hidden;
  margin: 0;
  padding: 2px 4px;
  border: 1px solid var(--border);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for visibility and opacity */
}

.container:hover .button {
  visibility: visible;
  opacity: 1; /* Smoothly transition to visible */
}

.button:hover {
  background-color: var(--hover);
  color: var(--color);
}
