.container {
  display: flex;
  justify-content: flex-end;
  max-width: 20%;
}

.button {
  border-radius: 50%;
  visibility: hidden;
  margin: 0;
  padding: 2px 4px;
  border: 1px solid var(--border);
}

.container:hover .button {
  visibility: visible;
}

.button:hover {
  background-color: var(--hover);
  color: var(--color);
}