/* Modal Styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns the modal towards the top */
  padding-top: 10%; /* Moves the modal slightly towards the top */
}

.modal {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  margin-top: 10%;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #0056b3;
}
