.notes {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.note {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 400;
}

.title {
  font-size: 1.5em;
  padding: 0 50px;
  background-color: var(--title);
  border-radius: var(--border-r);
  border: 2px solid var(--black-b);
}