.container {
  width: 100%;
}
.weekday {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  background-color: black;
  color: white;
  border-radius: var(--border-r);
  padding: 5px;
}

.dates {
  display: flex;
  flex-wrap: wrap;
}

.date {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}
