/* Existing styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  opacity: 0; /* Make buttons initially invisible */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity change */
}

.container:hover .button {
  opacity: 1; /* Make buttons visible when container is hovered */
}

@media print {
  .container {
    display: none;
  }
}

/* Modal Styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.closeButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #0056b3;
}
