.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  opacity: 0; /* Make buttons initially invisible */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity change */
}

.container:hover .button {
  opacity: 1; /* Make buttons visible when container is hovered */
}

@media print {
  .container {
    display: none;
  }
}