.frame {
  display: flex;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #85858542;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hourly {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid var(--border);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.pan {
  display: flex;
  width: 100%;
  position: relative;
}

.hour {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  min-width: 60px; /* Ensure consistent width for single and double-digit hours */
}

.events {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  width: 100%;
}

.event {
  width: 100%;
  border: none;
  height: 100%;
}

.event:hover {
  background-color: var(--hover-color);
}

.pan:first-child {
  border-style: none none dashed none;
  border-width: 1px;
  border-color: #c0c0c069;
}

.frame:last-child {
  border-style: none none none none;
}

/* Hide the second input unless hovered */
.hideOnHover {
  display: none;
}

.frame:hover .hideOnHover {
  display: flex;
}

/* Center the first input field */
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.centered .event {
  text-align: center;
}
