.frame {
  display: flex;
  border-bottom: 2px solid #85858542;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hourly {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--border);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.pan {
  display: flex;
  width: 100%;
}

.hour {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  min-width: 60px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  width: 100%;
}

.event {
  width: 100%;
  border: none;
  height: 100%;
}

.event:hover {
  background-color: var(--hover-color);
}

.pan:first-child {
  border-bottom: 1px dashed #c0c0c069;
}

.frame:last-child {
  border-bottom: none;
}

.hideOnHover {
  display: none;
}

.frame:hover .hideOnHover {
  display: flex;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.timeBar {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  z-index: 10;
  border-radius: 50%;
  opacity: 0.8;
  animation: blink 2s infinite ease-in-out; /* Adding the animation */
}

@keyframes blink {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@media print {
  .timeBar {
    display: none;
  }
}