.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navButton {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  color: transparent;
}

.navButton:hover {
  border: 1px solid #ccc;
  color: var(--color);
}

.monthGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  flex: 1 0 calc(100% / 7);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border: 1px solid #ddd;
  cursor: pointer;
}

.currentDay {
  background-color: var(--color);
  color: rgb(218, 141, 70);
  font-weight: bold;
  border-color: #ddd;
}

.monthYear {
  margin: 0 10px;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
}

.selectedDay {
  background-color: lightblue; /* Highlight the selected day */
  font-weight: bold;
  border-color: #000;
  color: black;
}
