* {
  background-color: var(--bg);
  color: var(--color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: background-color 0.9s, color 0.1s;
}

:root {
  --black: black;
  --white-b: solid white;
  --black-b: solid black;
  --title: rgb(0, 255, 0);
  --border-r: 5px;
}

html[data-theme='light'] {
  --bg: white; /* Light background */
  --border: black; /* Black border in light mode */
  --color: black; /* Black text in light mode */
  --border-radius: 10px; /* Example border radius */
  --hover-color: #c0c0c069; /* Light hover color */
}

html[data-theme='dark'] {
  --bg: black; /* Dark background */
  --border: #ccc; /* Lighter border in dark mode */
  --color: #fff; /* White text in dark mode */
  --border-radius: 10px; /* Example border radius */
  --hover-color: #c0c0c069; /* Dark hover color */
}

@page {
  size: A4;
  margin: 15px;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
