.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.tables {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  flex-basis: 0 1 60%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}