.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

@media print {
  .title {
    display: none;
  }
}

.tables {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}