.container {
  display: flex;
  justify-content: center;
}

.tables {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.5em;
}

.hourly {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid white;
  min-width: 100%;
}

.frame {
  display: flex;
  border: 2px solid white;
  align-items: center;
}

.frame:hover *, .frame:hover {
  background-color: #333;
}
.hour {
  padding: 0 10px;
}

.events {
  width: 100%;
}

.event:first-child {
  border-style: none none dashed none;
  border-width: 1px;
  width: 100%;
}

.aside {
  min-width: 250px;
  margin-left: 50px;
}

.priorities {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
}

.prio {
  display: flex;
  justify-content: center;
  background-color: #ff3636;
  border: 2px solid white;
}

.priority {
  padding: 0 10px;
  border: 2px solid white;
}

.priority:hover {
  background-color: #ff363673;
}

.open {
  margin-top: 30px;
  border: 2px solid white;
}

.opening {
  display: flex;
  justify-content: center;
  background-color: #ff5e5e;
  border: 2px solid white;
}

.opened {
  padding: 0 10px;
  border: 2px solid white;
  min-height: 300px;
}