.detailsForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  width: 100%;
  margin: 0 auto;
}

.setInner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
}

.selectsWrapper {
  display: inline-flex;
  gap: var(--spacing-xxs);
}

/* Basic native select + unit */

.basicSelectWrapper {
  display: inline-flex;
  align-items: center;
}

.basicSelect {
  width: 60px;
  padding: 4px;
  font-weight: 500;
}

.unit {
  margin-left: 4px;
  font-size: 0.9em;
}

/* Completion circle */

.setCompletionCircle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.setCompletionCircle.completed {
  background-color: green;
}

.setCompletionCircle.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
