.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  width: 100%;
  box-sizing: border-box;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingWithToggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.selectedOption {
  margin-left: 0.5rem;
  color: black;
  font-size: 1rem;
}

.headerControls {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.button {
  padding: var(--spacing-s) var(--spacing-s);
  background-color: #e0e0e0;
  border: none;
  border-radius: var(--border-radius-s);
  font-size: 1rem;
  flex: 1;
  text-align: center;
}

.selectedButton {
  padding: var(--spacing-s) var(--spacing-m);
  background-color: #a0a0ff;
  border: none;
  border-radius: var(--border-radius-s);
  font-size: 1rem;
  flex: 1;
  text-align: center;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.startButton {
  padding: var(--spacing-s);
  background-color: #4caf50;
  border: none;
  border-radius: var(--border-radius-s);
  font-size: 1.2rem;
  color: white;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.summaryText {
  font-size: 0.9rem;
  color: var(--hover-color);
  cursor: pointer;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
