/* dots.module.css */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.uncompleted {
  background-color: red;
}

.completed {
  background-color: green;
}

.todo {
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .dot {
    font-size: 1rem;
  }
}