/* dots.module.css */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  display: flex;
  font-size: 1.1rem;
  /* width: 5px;
  height: 5px;
  border-radius: 50%;
  color: black; */
}

.uncompleted {
  color: red;
}

.completed {
  color: green;
}

.todo {
  color: gray;
}
@media screen and (max-width: 768px) {
  .dot {
    font-size: 1rem;
  }
}