/* /components/toggles/month/month.module.css */

.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.weekDaysHeader {
  display: none;
  transition: opacity 0.3s ease;
}

.container:hover .weekDaysHeader {
  display: flex;
  opacity: 1;
}

.title * {
  color: black !important;
  background-color: white !important;
}

