.container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navButton {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.nav:hover .navButton {
  border: 1px solid #ccc;
  opacity: 1;
}

.monthGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.arriba {
  width: 100%;
  color: transparent;
  max-height: 20%;
}

.dayNumber {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.abajo {
  width: 100%;
  background-color: transparent;
}

.day {
  position: relative;
  aspect-ratio: 1 / 1;
  flex: 1 0 calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border: 1px solid #ddd;
  cursor: pointer;
}

.day::before {
  content: "";
  display: block;
  padding-bottom: 100%; /* Sets height equal to width */
}

.day > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.currentDay {
  background-color: var(--color);
  color: rgb(218, 141, 70);
  border-color: #ddd;
}

.monthYear {
  margin: 0 10px;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
}

.selectedDay {
  border-color: #000;
  color: black;
}
