.container {
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.titleC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dateRef {
  display: none;
  opacity: 0.4;
}

.titleC:hover .dateRef {
  display: block;
  opacity: 1;
}

.weekday {
  cursor: pointer;
}

.dateC {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 50%;
}

.date {
  margin: 0;
  padding: 0;
  font-size: 1.35em;
  width: 100%;
}