.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  user-select: none;
  width: 100%;
  height: 100%;
  flex: 1 1 50%;
}

.weekday {
  flex: 1 1 50%;
  cursor: pointer;
}

.dateC {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 50%;
}

.date {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.35em;
}