/* navigation.module.css */
.navigation {
  display: flex;
  align-items: center;
  z-index: 100;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.actionButton {
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.menuMain {
  display: flex;
  gap: 1rem;
}

.actionButton:hover {
  opacity: 0.7;
}

.actionButton.active {
  color: var(--primary);
}

.userSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email {
  font-size: 0.9rem;
  color: var(--color);
}

.logoutButton {
  border: none;
  background: none;
  cursor: pointer;
  transition: background 0.2s;
  filter: blur(10px);
  opacity: 0.5;
}

.logoutButton:hover {
  background: var(--bg);
  filter: blur(0);
}

@media (max-width: 768px) {
  .menuItems {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .menuItems.open {
    display: flex;
  }

  .userSection {
    /* flex-direction: column; */
    align-items: flex-start;
  }
}