.container {
  position: relative;
  display: flex;
  width: 100%;
  user-select: none;
}

.toggles {
  position: relative;
}

.label {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 40px; /* Adjust based on your button height */
  left: 0;
  background-color: var(--bg);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  opacity: 0.95;
}

.toggleOption {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.toggleOption input {
  margin-right: 8px;
}

@media print {
  .container {
    display: none;
  }
}