/* navigation.module.css */
.navigation {
  display: flex;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
  flex: 1;
}

.menuItems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.menuHeader {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.actionButton {
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.menuMain {
  display: flex;
}

.actionButton:hover {
  opacity: 0.7;
}

.actionButton.active {
  color: var(--primary);
}

.userSection {
  display: flex;
  align-items: center;
}

.email {
  font-size: 0.9rem;
  opacity: 0.7;
  color: var(--color);
}

.logoutButton {
  border: none;
}

@media (max-width: 768px) {
  .menuItems {
    display: none;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .menuItems.open {
    display: flex;
  }

  .email {
    display: none;
  }
}