/* navigation.module.css */
.navigation {
  display: flex;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
  flex: 1;
}

.menuButton {
  border: none;
}

.menuItems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.email {
  font-size: 0.9rem;
  opacity: 0.7;
  color: var(--bg);
}

@media (max-width: 768px) {
  .menuItems {
    display: none;
  }

  .menuItems.open {
    display: flex;
  }

  .email {
    display: none;
  }
}