.calendar {
  text-align: center;
  padding: 20px;
}

.weekdayDisplay {
  display: flex;
  justify-content: center;
}

.navigationContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dayNavigation,
.monthNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dayNavigation button,
.monthNavigation button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.formattedDate,
.monthName {
  font-size: 1.2rem;
  margin: 0;
}

.formattedDate {
  cursor: pointer;
}

.table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout:fixed;

}

.th,
.td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}

.th {
  background-color: #f2f2f2;
}

.td {
  height: 50px;
  cursor: pointer;
}

.tr:nth-child(even) {
  background-color: #f9f9f9;
}

.today {
  background-color: #e0f7fa;
  font-weight: bold;
}

.selected {
  background-color: #ffecb3;
  font-weight: bold;
}

.outside {
  color: #999;
  background-color: #fdfdfd;
}
