/* priorities.module.css */

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: var(--border-r);
  border: 2px solid var(--black-b);
  width: 100%;
}

.priorities {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
