.frame {
  display: flex;
  border-bottom: 2px solid #85858542;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1px;
}

.hourly {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.pan {
  display: flex;
  width: 100%;
}

.hour {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  min-width: 60px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event {
  width: 100%;
  border: none;
  height: 100%;
  padding: 0;
}

.frame:first-child, .frame:last-child {
  border-bottom: none;
}

.hideOnHover {
  display: none;
}

.frame:hover .hideOnHover {
  display: flex;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.timeBar {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  z-index: 10;
  border-radius: 50%;
  opacity: 0.8;
  animation: blink 2s infinite ease-in-out; /* Adding the animation */
}

@keyframes blink {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@media print {
  .timeBar {
    display: none;
  }
}

.altBackground1 {
  background-color: var(--bg-alt1);  /* Light gray background */
}

.altBackground2 {
  background-color: var(--bg-alt2);  /* Lighter gray background */
}

