.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: var(--background);
  border-radius: var(--border-r);
  border: 2px solid var(--black-b);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.title {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: var(--title);
  border-radius: var(--border-r);
  border: 2px solid var(--black-b);
  text-align: center;
  margin-bottom: 20px;
}

.progressBar {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: center;
  color: var(--green);
  font-weight: bold;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 1.2em;
  background-color: var(--note-bg);
  border-radius: var(--border-r);
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  border: 2px solid var(--black-b);
}

.note:hover {
  background-color: var(--note-hover-bg);
}

.completed {
  background-color: var(--completed-bg);
  text-decoration: line-through;
}

.checkMark {
  font-size: 1.5em;
  color: var(--green);
}

.note span {
  margin-left: 10px;
}
